@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

.headerNavigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  color: #f2c86b;
  padding-left: 20px;
  margin: 0;
}

.logo {
  color: #f2c86b;
  width: 40px;
  height: 40px;
}

.landingPageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.landingPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.landingPageHeader {
  padding-bottom: 50px;
  font-size: 64px;
}

.landingPageText {
  text-align: center;
  padding-bottom: 20px;
  font-size: 32px;
}

.cta {
  background-color: #f2c86b;
  border: none;
  border-radius: 5px;
  color: rgb(73, 73, 73);
  margin-left: auto;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  cursor: pointer;
  text-decoration: none;
  letter-spacing: 0.2rem;
  max-width: 200px;
  padding: 20px;
  margin: 0;
}

.todoListContainer {
  position: relative;
}

.flexContainer {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  min-height: 675px;
}

.imageContainer {
  position: absolute;
  top: 150px;
  left: 230px;
}

.image {
  width: 600px;
  height: 600px;
}

.app {
  max-height: 900px;
  overflow: auto;
  padding-bottom: 0px;
  margin-left: 800px;
  margin-top: 0px;
}

.app::-webkit-scrollbar {
  width: 0;
}

.app::-webkit-scrollbar-track {
  background-color: transparent;
}

.app::-webkit-scrollbar-thumb {
  background-color: transparent;
}

body {
  background-color: #252525;
}

.app,
.landingPage {
  color: rgb(255, 255, 255);
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.2rem;
}

h1 {
  margin-bottom: -10px;
}

h2 {
  color: #a2a2a2;
  padding-bottom: 20px;
}

.header {
  display: flex;
  align-items: center;
}

.date {
  padding-right: 30px;
  margin-top: -20px;
}

.month {
  margin-bottom: -10px;
}

.day {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #f2c86b;
}

.coloredStrip {
  position: fixed;
  bottom: 0;
  left: 0;
  height: 40px;
  width: 100%;
  background-color: #f2c86b;
}

a {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #252525;
  padding-top: 10px;
}

button {
  padding: 0;
  background-color: transparent;
  border: none;
  color: rgb(255, 255, 255);
  margin-left: auto;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  cursor: pointer;
  letter-spacing: 0.2rem;
}

.todoListHeader {
  display: flex;
  justify-content: space-between;
  gap: 200px;
  padding-top: 30px;
}

.headerLabel {
  padding-top: 5px;
}

.iconWithLabel {
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon {
  width: 30px;
  height: 30px;
  color: #f2c86b;
  margin-top: -10px;
}

.iconLabel {
  color: rgb(255, 255, 255);
  padding-top: 5px;
  text-align: left;
  width: 230px;
  font-size: 16px;
}

/*Responsiveness*/
@media (max-width: 1440px) {
  .imageContainer {
    position: absolute;
    top: 150px;
    left: 150px;
  }

  .image {
    width: 400px;
    height: 400px;
  }

  .app {
    max-height: 600px;
    overflow: auto;
    padding-bottom: 40px;
    margin-left: 600px;
  }
}

@media (max-width: 1024px) {
  .imageContainer {
    position: absolute;
    top: 160px;
    left: 80px;
  }

  .image {
    width: 300px;
    height: 300px;
  }

  .app {
    max-height: 700px;
    overflow: auto;
    padding-bottom: 40px;
    margin-left: 450px;
  }

  .todoListHeader {
    gap: 90px;
  }

  .headerLabel {
    font-size: 14px;
    width: 205px;
    text-align: left;
  }
}

@media (max-width: 768px) {
  .headerNavigation {
    justify-content: end;
    padding-right: 20px;
  }

  .landingPageHeader {
    font-size: 48px;
  }

  .landingPageText {
    font-size: 24px;
  }

  .flexContainer {
    flex-direction: column;
  }

  .imageContainer {
    display: none;
  }

  .todoListHeader {
    gap: 200px;
  }

  .app {
    max-height: 750px;
    overflow: auto;
    padding-bottom: 40px;
    margin: 0;
    font-size: 16px;
  }

  .icon {
    margin-left: -20px;
  }

  .iconLabel {
    font-size: 14px;
  }

  .coloredStrip {
    display: none;
  }
}

/*Responsiveness*/
@media (max-width: 425px) {
  .landingPageHeader {
    font-size: 42px;
  }

  .landingPageText {
    font-size: 18px;
  }

  .flexContainer {
    flex-direction: column;
  }

  .imageContainer {
    display: none;
  }

  .todoListHeader {
    gap: 160px;
  }

  .app {
    max-height: 750px;
    overflow: auto;
    padding-bottom: 40px;
    font-size: 16px;
  }

  .iconLabel {
    display: none;
  }

  .icon {
    width: 25px;
    height: 25px;
  }

  .headerLabel {
    padding-bottom: 10px;
  }
  .coloredStrip {
    display: none;
  }
}
